<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      lang="es">
<head>
    <meta charset="UTF-8">
    <title th:text="${tituloPagina}"></title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/iconos/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/temas/miestilo.css}" rel="stylesheet">
    <link th:href="@{/adminlte/css/adminlte.css}" rel="stylesheet">

</head>

<body class="bg-gradient-black">
<header th:replace="~{templates/adminlte-template :: header}"></header>


<!-- Contenido Principal -->
<!-- Contenido Principal -->
<div class="container-fluid py-4">
    <div class="row g-4">
        <!-- /.Citas Hoy -->
        <div class="card ms-md-3 col-lg-10 mb-4" th:if="${!registroIncompleto and citasHoy != null and citasHoy.size() > 0}">
            <div class="card-header border-0">
                <h3 class="card-title">Citas de Hoy</h3>
                <div class="card-tools">
                    <a th:href="@{/citas/cita-main}" class="btn btn-success btn-sm"> <i class="bi bi-search"></i> Ver todas las citas</a>
                </div>
            </div>
            <div class="card-body table-responsive p-0" th:if="${citasHoy != null and citasHoy.size > 0}">
                <table class="table table-striped align-middle">
                    <thead>
                    <tr>
                        <th>Fecha y Hora</th>
                        <th>Paciente</th>
                        <th>Correo</th>
                        <th>Medico</th>
                        <th>Cedula</th>
                        <th>Correo</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="cita : ${citasHoy}">
                        <td th:text="${cita.fecha}"></td>
                        <td th:text="${cita.paciente.datosPersonales.nombre} +' '
                                        +${cita.paciente.datosPersonales.apellido1}"></td>
                        <td th:text="${cita.paciente.datosPersonales.usuario.correoElectronico}"></td>
                        <td th:text="${cita.medico.datosPersonales.nombre} + ' '
                                                +${cita.medico.datosPersonales.apellido1}"></td>
                        <td th:text="${cita.medico.cedula}"></td>
                        <td th:text="${cita.medico.datosPersonales.usuario.correoElectronico}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${citasHoy == null or citasHoy.size == 0}">
                <div class="img-container text-center">
                    <img th:src="@{/imagen/gatito.JPG}" alt="">
                </div>
                <p class="ms-1">Sin citas hoy</p>
            </div>
        </div>
        <!-- /.Citas Hoy -->

        <!--Sin citas -->
        <div class="card ms-md-3 col-lg-2 mb-4 text-center d-flex justify-content-center align-items-center"
             th:if="${!registroIncompleto and (citasHoy == null or citasHoy.size() == 0)}">
            <div class="card-header border-0 text-center">
                <h3 class="card-title">Citas de Hoy</h3>
            </div>
            <div class="card-tools">
                <a th:href="@{/citas/cita-main}" class="btn btn-success btn-sm"> <i class="bi bi-search"></i> Ver todas las citas</a>
            </div>
            <div>
                <div class="img-container text-center">
                    <img th:src="@{/imagen/gatito.JPG}" alt="">
                </div>
                <p class="ms-1">Sin citas hoy</p>
            </div>
        </div>
        <!--Fin sin citas-->

        <!-- Pacientes atendidos ultimo mes -->
        <div class="col-md-4 col-sm-6 col-12" th:if="${!registroIncompleto and pacientesMes != null}" sec:authorize="hasAuthority('Medico')">
            <div class="info-box text-bg-warning">
                <span class="info-box-icon"> <i class="bi bi-person-heart"></i> </span>
                <div class="info-box-content">
                    <div class="row">
                        <span class="info-box-text col-10">Pacientes Último Mes</span>
                        <button type="button" class="col-2 btn btn-outline-dark" data-bs-toggle="popover"
                                data-bs-trigger="focus" title="Incremento de pacientes"
                                data-bs-content="Incremento con respecto al mes anterior">
                                <i class="bi bi-info-circle"></i> </button>
                    </div>
                    <span class="info-box-number" th:text="${pacientesMes}"></span>
                    <div class="progress">
                        <div class="progress-bar" th:if="${incrementPac != null}" th:style="'width:' + ${incrementPac} + '%'"></div>
                    </div>
                    <span class="progress-description"
                          th:text="'Un incremento del ' + (${incrementPac}) + '% el último mes'"></span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>

        <!-- Visitas Pendientes -->


        <!-- Prescripciones -->
        <div class="col-md-6 col-lg-3" th:if="${presHoy != null && registroIncompleto == false}">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Prescripciones</h5>
                    <h2 class="card-text" th:text="${presHoy}"></h2>
                    <p class="text-muted">Emitidas hoy</p>
                </div>

                <div class="container w-75 d-none d-lg-flex justify-content-center mb-1">
                    <a class="btn btn-success">Ver todas las prescripciones</a>
                </div>
                <div class="container w-75 d-flex d-lg-none justify-content-center mb-1">
                    <a class="btn btn-success">Ver todas</a>
                </div>
            </div>
        </div>

        <div class="d-block col-12 p-4" th:if="${registroIncompleto == true}">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Registro Incompleto</h5>
                </div>
                <div class="card-body">
                    <div class="list-group list-group-flush">
                        <a th:href="@{/registro/registro-direccion}" class="list-group-item sidebar-link">
                            <div class="d-flex w-100 justify-content-between">
                                <h6 class="mb-1">Por favor ingresa tus datos personales</h6>

                            </div>
                            <p class="btn btn-primary mt-3">Ingresar Datos Personales</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
    })
</script>
</body>
</html>