<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title th:text="${tituloPagina}"></title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/iconos/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/temas/miestilo.css}" rel="stylesheet">
</head>

<body class="bg-gradient-blue text-light">
<header th:replace="~{templates/template :: header}"></header>

<div class="p-4 bg-light w-100 rounded mt-2 container shadow">
    <h1 class="text-center text-dark" th:text="${tituloPagina}"></h1>

    <div class="container-fluid w-75">

        <form class="row" th:if="${medicos == null}"
              th:action="@{/directorios/filtro-medicos}" th:object="${medicoFiltro}" method="get">

            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger" role="alert">
                Verifique los siguientes errores:
                <ul>
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                </ul>
            </div>
            <div th:replace="~{templates/template :: alerts}"></div>

            <div class="col-12 col-md-6 my-2">
                <label for="especialidad" class="form-label text-dark">Especialidad</label>
                <select id="especialidad" class="form-select" name="especialidad" required th:field="*{especialidadId}">
                    <option th:each="esp : ${selectEsp}" th:value="${esp.id}"
                            th:text="${esp.especialidad}">Especialidad</option>
                </select>
            </div>

            <div class="col-12 col-md-6 my-2">
                <label for="estado" class="form-label text-dark">Estado</label>
                <select id="estado" class="form-select" name="pais" required th:field="*{estado}">
                    <option th:each="dir : ${selectDirecciones}" th:value="${dir}"
                            th:text="${dir}" th:placeholder="Estado">Estado</option>
                </select>
            </div>

            <div class="col-12 text-center my-2">
                <button type="submit" class="btn btn-success rounded-pill p-2 w-50">Buscar</button>
            </div>
            <input type="hidden" th:field="*{id}" />
        </form>


    </div>
    <div class="col-12" th:if="${medicos != null and size >0}">
        <div class="table-responsive">
            <table th:if="${!medicos.isEmpty()}" class="table table-dark table-striped table-hover align-middle">
                <thead class="table-dark">
                <tr>
                    <th scope="col">Médico</th>
                    <th scope="col">Cedula</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Especialidad</th>
                    <th scope="col">Correo electrónico</th>
                    <th scope="col" class="text-center">Operaciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="med : ${medicos}">
                    <td th:text="${med.datosPersonales.nombre} + ' ' + ${med.datosPersonales.apellido1}"></td>
                    <td th:text="${med.cedula}"></td>
                    <td th:text="${med.datosPersonales.direccion.estado}"></td>
                    <td th:text="${med.especialidad.especialidad}"></td>
                    <td th:text="${med.datosPersonales.usuario.correoElectronico}"></td>
                    <td class="text-center">
                        <a th:href="@{/citas/cita-nueva/{id} (id=${med.id})}" class="btn btn-success btn-sm me-2">
                            <i class="bi bi-plus-circle"></i> Agendar Cita
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${medicos != null}">
            <nav th:replace="~{templates/pag-nav::paginador}"></nav>
        </div>
    </div>
    <div class="col-12" th:if="${medicos != null and size == 0}">
        <div class="alert alert-warning text-center" role="alert">
            <h4 class="alert-heading">¡No se encontraron médicos!</h4>
            <p>Por favor, intenta con otra búsqueda o verifica los filtros aplicados.</p>
            <hr>
            <a th:href="@{/directorios/buscar-medicos}" class="btn btn-primary">Regresar</a>
        </div>
    </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
